/* @FontFace
------------------------------------------------------- */
@font-face {
  font-family:'Brandon';
    src:url('brandon_blk.eot');
    src:url('brandon_blk.eot#iefix') format('embedded-opentype'),
        url('brandon_blk.woff') format('woff');
  }

@font-face {
  font-family:'Open Sans';
    src:url('opensans-regular.eot');
    src:url('opensans-regular.eot#iefix') format('embedded-opentype'),
        url('opensans-regular.woff') format('woff');
  }

@font-face {
  font-family:'Open Sans Italic';
    src:url('opensans-italic.eot');
    src:url('opensans-italic.eot#iefix') format('embedded-opentype'),
        url('opensans-italic.woff') format('woff');
  }

@font-face {
  font-family:'Open Sans Bold';
    src:url('opensans-bold.eot');
    src:url('opensans-bold.eot#iefix') format('embedded-opentype'),
        url('opensans-bold.woff') format('woff');
  }

@font-face {
  font-family:'Open Sans Bold Italic';
    src:url('opensans-bolditalic.eot');
    src:url('opensans-bolditalic.eot#iefix') format('embedded-opentype'),
        url('opensans-bolditalic.woff') format('woff');
  }
  
 .fl                           { float:left; }
.unfloat                      { float:none; }
.dot                          { border-radius:50%; }
.quiet                        { color:#7f7f7f; color: rgba(0,0,0,.5); }
.dark .quiet                  { color: #7f7f7f; color: rgba(255,255,255,.5);}
.center                       { text-align:center; }
.contain                      { position:relative; }
.clip                         { overflow:hidden; }
.hidden.hidden                { display:none; }
.text-left                    { text-align:left; }
.text-right                   { text-align:right; }
.space > *                    { margin-right:5px; }
.hide-tablet, .hide-mobile    { display:block; }
.show-tablet, .show-mobile    { display:none; }
.show-mobile                  { display:none; }
.show-mobile.inline           { display:none; }
img.inline, .inline           { display:inline-block; }
.break-word                   { word-wrap:break-word; }
.align-middle                 { vertical-align: middle;}
.align-top                    { vertical-align: top;}
.block                        { display:block; }
.scroll-h { overflow-x:auto; }
.scroll-v { overflow-y:auto; }
.capitalize { text-transform:capitalize; }
.z1   { z-index:1; }
.z2   { z-index:2; }
.z8   { z-index:8; }
.z10  { z-index:10; }
.z100 { z-index:100; }
.round                  { border-radius:3px; }
.round-top              { border-radius:3px 3px 0 0; }
.round-right            { border-radius:0 3px 3px 0; }
.round-bottom           { border-radius:0 0 3px 3px; }
.round-left             { border-radius:3px 0 0 3px; }
.round-topleft     { border-top-left-radius: 3px;}
.round-bottomleft  { border-bottom-left-radius: 3px;}
.round-topright    { border-top-right-radius: 3px;}
.round-bottomright { border-bottom-right-radius: 3px;}
.shadow { box-shadow: 0 0 25px 0 rgba(0,0,0,0.15); }
.uppercase { text-transform: uppercase; }
.noevents { pointer-events: none;}

.unround,
.pill.unround .unround  { border-radius:0;}

.caption {
  display:block;
  }
  .prose .caption {
    font-size: 12px;
    margin: -20px 0 20px
    }

.truncate {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  }
  
 .dark { color:#fff; }
  
 
 /* Fills
-------------------------------------------------------- */
.fill-dark        { background-color:#404040; }
.fill-gray,
.fill-grey        { background:#eee; }
.fill-grey-dark,
.fill-gray-dark   { background:#404040; }
.fill-white       { background:#fff; }
.fill-light       { background:#f8f8f8; }
/* deprecated, use fill-cyan */
.fill-blue-light  { background:#52a1d8; }
.fill-cyan        { background:#3bb2d0; }
.fill-midnight    { background:#142736; }

.fill-blue        { background:#3887be; }
.fill-denim       { background:#50667f; }
.fill-navy        { background:#28353d; }
.fill-navy-dark   { background:#222B30; }
.fill-purple      { background:#8a8acb; }
.fill-green       { background:#56b881; }
.fill-yellow      { background:#f1f075; }
.fill-orange      { background:#f9886c; }

.fill-darkblue    { background-color:#223b53; }
.fill-red         { background-color:#e55e5e; }
.fill-teal        { background-color:#41afa5; }
.fill-pink        { background-color:#ed6498; }
.fill-mustard     { background-color:#fbb03b; }

.fill-darken0 { background:rgba(0,0,0,0.05); }
.fill-darken1 { background:rgba(0,0,0,0.25); }
.fill-darken2 { background:rgba(0,0,0,0.50); }
.fill-darken3 { background:rgba(0,0,0,0.75); }

.fill-lighten0 { background:rgba(255,255,255,0.10); }
.fill-lighten1 { background:rgba(255,255,255,0.25); }
.fill-lighten2 { background:rgba(255,255,255,0.50); }
.fill-lighten3 { background:rgba(255,255,255,0.75); } 
 
 /* Icons
------------------------------------------------------- */
@font-face {
  font-family:'icon';
    src:url('icon.eot?v=24');
    src:url('icon.eot?v=24#iefix') format('embedded-opentype'),
        url('icon.woff?v=24') format('woff');
  font-weight:normal;
  font-style:normal;
  }

.rcon:after,
.icon:before {
  font-family: 'icon';
  content:'';
  display:inline-block;
  width:20px;
  height:20px;
  font-size: 20px;
  color: inherit;
  vertical-align:top;
  -webkit-background-size:4320px 60px;
          background-size:4320px 60px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  }

.rcon.big:after,
.icon.big:before {
  font-size: 40px;
  width:40px;
  height:40px;
  }

.prose-big .icon,
.prose-big .rcon,
.prose .icon,
.prose .rcon {
  line-height: 20px;
}

.icon.big                     { line-height:40px; }
.icon:not(.big):before        { margin-right:5px; }
.icon:empty:before            { margin:0; }

/*
:not(input) exists on this rule to allow inputs with a value to take a width, because
otherwise these are considered empty
*/
.button.icon:empty:not(input) { width:40px; padding:10px; }
.button.short.icon:empty      { width:30px; padding:5px; }

.big.button.icon {
  line-height: 40px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  }

/* Generated with icomoon.com
Note: :after rules and alternative names need to be added manually.
Alternate exists for:
.close -> .x
*/

/* before */
.icon.map:before {
  content: "\e900";
}
.icon.studio:before {
  content: "\e901";
}
.icon.analytics:before {
  content: "\e902";
}
.icon.coding:before {
  content: "\e903";
}
.icon.bike:before {
  content: "\e904";
}
.icon.car:before {
  content: "\e905";
}
.icon.drone:before {
  content: "\e906";
}
.icon.walk:before {
  content: "\e907";
}
.icon.certificate:before {
  content: "\e908";
}
.icon.server:before {
  content: "\e909";
}
.icon.caret-down:before {
  content: "\e6a5";
}
.icon.caret-left:before {
  content: "\e6a6";
}
.icon.caret-right:before {
  content: "\e6a7";
}
.icon.caret-up:before {
  content: "\e6a8";
}
.icon.step-ramp:before {
  content: "\e69c";
}
.icon.smooth-ramp:before {
  content: "\e69d";
}
.icon.bug:before {
  content: "\e69e";
}
.icon.bell:before {
  content: "\e69f";
}
.icon.polygon:before {
  content: "\e600";
}
.icon.minus-document:before {
  content: "\e601";
}
.icon.plus-document:before {
  content: "\e602";
}
.icon.check-document:before {
  content: "\e603";
}
.icon.grid:before {
  content: "\e604";
}
.icon.osm:before {
  content: "\e605";
}
.icon.at:before {
  content: "\e606";
}
.icon.history:before {
  content: "\e607";
}
.icon.palette:before {
  content: "\e608";
}
.icon.sun:before {
  content: "\e609";
}
.icon.account:before {
  content: "\e60a";
}
.icon.adjust-stroke:before {
  content: "\e60b";
}
.icon.alert:before {
  content: "\e60c";
}
.icon.android:before {
  content: "\e60d";
}
.icon.antialias:before {
  content: "\e60e";
}
.icon.apple:before {
  content: "\e60f";
}
.icon.arrive:before {
  content: "\e610";
}
.icon.arrowright:before {
  content: "\e611";
}
.icon.bear-left:before {
  content: "\e612";
}
.icon.bear-right:before {
  content: "\e613";
}
.icon.bolt:before {
  content: "\e614";
}
.icon.book:before {
  content: "\e615";
}
.icon.bookmark:before {
  content: "\e616";
}
.icon.brackets:before {
  content: "\e617";
}
.icon.building:before {
  content: "\e618";
}
.icon.cap-butt:before {
  content: "\e619";
}
.icon.cap-round:before {
  content: "\e61a";
}
.icon.cap-square:before {
  content: "\e61b";
}
.icon.cart:before {
  content: "\e61c";
}
.icon.check:before {
  content: "\e61d";
}
.icon.clipboard:before {
  content: "\e61e";
}
.icon.close:before {
  content: "\e61f";
}
.icon.x:before {
  content: "\e61f";
}
.icon.cloud:before {
  content: "\e620";
}
.icon.compass:before {
  content: "\e621";
}
.icon.contact:before {
  content: "\e622";
}
.icon.creditcard:before {
  content: "\e623";
}
.icon.cross-edge:before {
  content: "\e624";
}
.icon.crosshair:before {
  content: "\e625";
}
.icon.dasharray:before {
  content: "\e626";
}
.icon.dashboard:before {
  content: "\e627";
}
.icon.data:before {
  content: "\e628";
}
.icon.depart:before {
  content: "\e629";
}
.icon.document:before {
  content: "\e62a";
}
.icon.down:before {
  content: "\e62b";
}
.icon.duplicate:before {
  content: "\e62c";
}
.icon.en:before {
  content: "\e62d";
}
.icon.enter-roundabout:before {
  content: "\e62e";
}
.icon.eye:before {
  content: "\e62f";
}
.icon.facebook:before {
  content: "\e630";
}
.icon.floppy:before {
  content: "\e631";
}
.icon.folder:before {
  content: "\e632";
}
.icon.nofolder:before {
  content: "\e6a9";
}
.icon.font:before {
  content: "\e633";
}
.icon.forward:before {
  content: "\e634";
}
.icon.foursquare:before {
  content: "\e635";
}
.icon.fullscreen:before {
  content: "\e636";
}
.icon.gap-width:before {
  content: "\e637";
}
.icon.github:before {
  content: "\e638";
}
.icon.gl:before {
  content: "\e639";
}
.icon.globe:before {
  content: "\e63a";
}
.icon.graph:before {
  content: "\e63b";
}
.icon.hand:before {
  content: "\e63c";
}
.icon.harddrive:before {
  content: "\e63d";
}
.icon.heart:before {
  content: "\e63e";
}
.icon.help:before {
  content: "\e63f";
}
.icon.home:before {
  content: "\e640";
}
.icon.info:before {
  content: "\e641";
}
.icon.inspect:before {
  content: "\e642";
}
.icon.join-miter:before {
  content: "\e643";
}
.icon.join-bevel:before {
  content: "\e644";
}
.icon.join-round:before {
  content: "\e645";
}
.icon.l-r-arrow:before {
  content: "\e646";
}
.icon.land:before {
  content: "\e647";
}
.icon.landuse:before {
  content: "\e648";
}
.icon.layers:before {
  content: "\e649";
}
.icon.leaflet:before {
  content: "\e64a";
}
.icon.levels:before {
  content: "\e64b";
}
.icon.lifebuoy:before {
  content: "\e64c";
}
.icon.line-miter-limit:before {
  content: "\e64d";
}
.icon.line-round-limit:before {
  content: "\e64e";
}
.icon.link:before {
  content: "\e64f";
}
.icon.linkedin:before {
  content: "\e650";
}
.icon.lock:before {
  content: "\e651";
}
.icon.logout:before {
  content: "\e652";
}
.icon.mail:before {
  content: "\e653";
}
.icon.mapbox:before {
  content: "\e654";
}
.icon.marker:before {
  content: "\e655";
}
.icon.icon-halo:before {
  content: "\e6a2";
}
.icon.symbol-layer:before {
  content: "\e6aa";
}
.icon.max-text-angle:before {
  content: "\e656";
}
.icon.menu:before {
  content: "\e657";
}
.icon.minus:before {
  content: "\e658";
}
.icon.mobile:before {
  content: "\e659";
}
.icon.mt:before {
  content: "\e65a";
}
.icon.next:before {
  content: "\e65b";
}
.icon.noeye:before {
  content: "\e65c";
}
.icon.opacity:before {
  content: "\e65d";
}
.icon.package:before {
  content: "\e65e";
}
.icon.paint:before {
  content: "\e65f";
}
.icon.pencil:before {
  content: "\e660";
}
.icon.picture:before {
  content: "\e661";
}
.icon.plus:before {
  content: "\e662";
}
.icon.point-line:before {
  content: "\e663";
}
.icon.point:before {
  content: "\e664";
}
.icon.polyline:before {
  content: "\e665";
}
.icon.prev:before {
  content: "\e666";
}
.icon.printer:before {
  content: "\e667";
}
.icon.raster:before {
  content: "\e668";
}
.icon.redo:before {
  content: "\e669";
}
.icon.refresh:before {
  content: "\e66a";
}
.icon.return:before {
  content: "\e66b";
}
.icon.rotate:before {
  content: "\e66c";
}
.icon.rss:before {
  content: "\e66d";
}
.icon.satellite:before {
  content: "\e66e";
}
.icon.search:before {
  content: "\e66f";
}
.icon.share:before {
  content: "\e670";
}
.icon.sharp-left:before {
  content: "\e671";
}
.icon.sharp-right:before {
  content: "\e672";
}
.icon.sprocket:before {
  content: "\e673";
}
.icon.stackoverflow:before {
  content: "\e674";
}
.icon.star:before {
  content: "\e675";
}
.icon.street:before {
  content: "\e676";
}
.icon.text-align-bottom-center:before {
  content: "\e677";
}
.icon.text-align-bottom-left:before {
  content: "\e678";
}
.icon.text-align-bottom-right:before {
  content: "\e679";
}
.icon.text-align-center-center:before {
  content: "\e67a";
}
.icon.text-align-center-left:before {
  content: "\e67b";
}
.icon.text-align-center-right:before {
  content: "\e67c";
}
.icon.text-align-overlap:before {
  content: "\e67d";
}
.icon.text-align-top-center:before {
  content: "\e67e";
}
.icon.text-align-top-left:before {
  content: "\e67f";
}
.icon.text-align-top-right:before {
  content: "\e680";
}
.icon.text-halo:before {
  content: "\e6a3";
}
.icon.text-halo-width:before {
  content: "\e681";
}
.icon.text-ignore-placement:before {
  content: "\e682";
}
.icon.text-justify-center:before {
  content: "\e683";
}
.icon.text-justify-left:before {
  content: "\e684";
}
.icon.text-justify-right:before {
  content: "\e685";
}
.icon.text-letter-spacing:before {
  content: "\e686";
}
.icon.text-line-height:before {
  content: "\e687";
}
.icon.text-max-width:before {
  content: "\e688";
}
.icon.text-padding:before {
  content: "\e689";
}
.icon.text-rotate:before {
  content: "\e68a";
}
.icon.text-size:before {
  content: "\e68b";
}
.icon.tilemill:before {
  content: "\e68c";
}
.icon.time:before {
  content: "\e68d";
}
.icon.tooltip:before {
  content: "\e68e";
}
.icon.transform-lowercase:before {
  content: "\e68f";
}
.icon.transform-uppercase:before {
  content: "\e690";
}
.icon.trash:before {
  content: "\e691";
}
.icon.position:before {
  content: "\e6a4";
}
.icon.turn-left:before {
  content: "\e692";
}
.icon.turn-right:before {
  content: "\e693";
}
.icon.twitter:before {
  content: "\e694";
}
.icon.tx:before {
  content: "\e695";
}
.icon.u-d-arrow:before {
  content: "\e696";
}
.icon.u-turn:before {
  content: "\e697";
}
.icon.undo:before {
  content: "\e698";
}
.icon.up:before {
  content: "\e699";
}
.icon.video:before {
  content: "\e69a";
}
.icon.water:before {
  content: "\e69b";
}
.icon.quotes:before {
  content: "\e6a0";
}
.icon.number:before {
  content: "\e6a1";
}
.icon.line:before {
  content: "\e6ab";
}
.icon.fill:before {
  content: "\e6ac";
}
.icon.map:before {
  content: "\e900";
}
.icon.studio:before {
  content: "\e901";
}

/* ------------------------------------------------------- */
/* after */
/* ------------------------------------------------------- */
.rcon.map:after {
  content: "\e900";
}
.rcon.studio:after {
  content: "\e901";
}
.rcon.analytics:after {
  content: "\e902";
}
.rcon.coding:after {
  content: "\e903";
}
.rcon.bike:after {
  content: "\e904";
}
.rcon.car:after {
  content: "\e905";
}
.rcon.drone:after {
  content: "\e906";
}
.rcon.walk:after {
  content: "\e907";
}
.rcon.certificate:after {
  content: "\e908";
}
.rcon.server:after {
  content: "\e909";
}
.rcon.caret-down:after {
  content: "\e6a5";
}
.rcon.caret-left:after {
  content: "\e6a6";
}
.rcon.caret-right:after {
  content: "\e6a7";
}
.rcon.caret-up:after {
  content: "\e6a8";
}
.rcon.step-ramp:after {
  content: "\e69c";
}
.rcon.smooth-ramp:after {
  content: "\e69d";
}
.rcon.bug:after {
  content: "\e69e";
}
.rcon.bell:after {
  content: "\e69f";
}
.rcon.polygon:after {
  content: "\e600";
}
.rcon.minus-document:after {
  content: "\e601";
}
.rcon.plus-document:after {
  content: "\e602";
}
.rcon.check-document:after {
  content: "\e603";
}
.rcon.grid:after {
  content: "\e604";
}
.rcon.osm:after {
  content: "\e605";
}
.rcon.at:after {
  content: "\e606";
}
.rcon.history:after {
  content: "\e607";
}
.rcon.palette:after {
  content: "\e608";
}
.rcon.sun:after {
  content: "\e609";
}
.rcon.account:after {
  content: "\e60a";
}
.rcon.adjust-stroke:after {
  content: "\e60b";
}
.rcon.alert:after {
  content: "\e60c";
}
.rcon.android:after {
  content: "\e60d";
}
.rcon.antialias:after {
  content: "\e60e";
}
.rcon.apple:after {
  content: "\e60f";
}
.rcon.arrive:after {
  content: "\e610";
}
.rcon.arrowright:after {
  content: "\e611";
}
.rcon.bear-left:after {
  content: "\e612";
}
.rcon.bear-right:after {
  content: "\e613";
}
.rcon.bolt:after {
  content: "\e614";
}
.rcon.book:after {
  content: "\e615";
}
.rcon.bookmark:after {
  content: "\e616";
}
.rcon.brackets:after {
  content: "\e617";
}
.rcon.building:after {
  content: "\e618";
}
.rcon.cap-butt:after {
  content: "\e619";
}
.rcon.cap-round:after {
  content: "\e61a";
}
.rcon.cap-square:after {
  content: "\e61b";
}
.rcon.cart:after {
  content: "\e61c";
}
.rcon.check:after {
  content: "\e61d";
}
.rcon.clipboard:after {
  content: "\e61e";
}
.rcon.close:after {
  content: "\e61f";
}
.rcon.x:after {
  content: "\e61f";
}
.rcon.cloud:after {
  content: "\e620";
}
.rcon.compass:after {
  content: "\e621";
}
.rcon.contact:after {
  content: "\e622";
}
.rcon.creditcard:after {
  content: "\e623";
}
.rcon.cross-edge:after {
  content: "\e624";
}
.rcon.crosshair:after {
  content: "\e625";
}
.rcon.dasharray:after {
  content: "\e626";
}
.rcon.dashboard:after {
  content: "\e627";
}
.rcon.data:after {
  content: "\e628";
}
.rcon.depart:after {
  content: "\e629";
}
.rcon.document:after {
  content: "\e62a";
}
.rcon.down:after {
  content: "\e62b";
}
.rcon.duplicate:after {
  content: "\e62c";
}
.rcon.en:after {
  content: "\e62d";
}
.rcon.enter-roundabout:after {
  content: "\e62e";
}
.rcon.eye:after {
  content: "\e62f";
}
.rcon.facebook:after {
  content: "\e630";
}
.rcon.floppy:after {
  content: "\e631";
}
.rcon.folder:after {
  content: "\e632";
}
.rcon.nofolder:after {
  content: "\e6a9";
}
.rcon.font:after {
  content: "\e633";
}
.rcon.forward:after {
  content: "\e634";
}
.rcon.foursquare:after {
  content: "\e635";
}
.rcon.fullscreen:after {
  content: "\e636";
}
.rcon.gap-width:after {
  content: "\e637";
}
.rcon.github:after {
  content: "\e638";
}
.rcon.gl:after {
  content: "\e639";
}
.rcon.globe:after {
  content: "\e63a";
}
.rcon.graph:after {
  content: "\e63b";
}
.rcon.hand:after {
  content: "\e63c";
}
.rcon.harddrive:after {
  content: "\e63d";
}
.rcon.heart:after {
  content: "\e63e";
}
.rcon.help:after {
  content: "\e63f";
}
.rcon.home:after {
  content: "\e640";
}
.rcon.info:after {
  content: "\e641";
}
.rcon.inspect:after {
  content: "\e642";
}
.rcon.join-miter:after {
  content: "\e643";
}
.rcon.join-bevel:after {
  content: "\e644";
}
.rcon.join-round:after {
  content: "\e645";
}
.rcon.l-r-arrow:after {
  content: "\e646";
}
.rcon.land:after {
  content: "\e647";
}
.rcon.landuse:after {
  content: "\e648";
}
.rcon.layers:after {
  content: "\e649";
}
.rcon.leaflet:after {
  content: "\e64a";
}
.rcon.levels:after {
  content: "\e64b";
}
.rcon.lifebuoy:after {
  content: "\e64c";
}
.rcon.line-miter-limit:after {
  content: "\e64d";
}
.rcon.line-round-limit:after {
  content: "\e64e";
}
.rcon.link:after {
  content: "\e64f";
}
.rcon.linkedin:after {
  content: "\e650";
}
.rcon.lock:after {
  content: "\e651";
}
.rcon.logout:after {
  content: "\e652";
}
.rcon.mail:after {
  content: "\e653";
}
.rcon.mapbox:after {
  content: "\e654";
}
.rcon.marker:after {
  content: "\e655";
}
.rcon.icon-halo:after {
  content: "\e6a2";
}
.rcon.symbol-layer:after {
  content: "\e6aa";
}
.rcon.max-text-angle:after {
  content: "\e656";
}
.rcon.menu:after {
  content: "\e657";
}
.rcon.minus:after {
  content: "\e658";
}
.rcon.mobile:after {
  content: "\e659";
}
.rcon.mt:after {
  content: "\e65a";
}
.rcon.next:after {
  content: "\e65b";
}
.rcon.noeye:after {
  content: "\e65c";
}
.rcon.opacity:after {
  content: "\e65d";
}
.rcon.package:after {
  content: "\e65e";
}
.rcon.paint:after {
  content: "\e65f";
}
.rcon.pencil:after {
  content: "\e660";
}
.rcon.picture:after {
  content: "\e661";
}
.rcon.plus:after {
  content: "\e662";
}
.rcon.point-line:after {
  content: "\e663";
}
.rcon.point:after {
  content: "\e664";
}
.rcon.polyline:after {
  content: "\e665";
}
.rcon.prev:after {
  content: "\e666";
}
.rcon.printer:after {
  content: "\e667";
}
.rcon.raster:after {
  content: "\e668";
}
.rcon.redo:after {
  content: "\e669";
}
.rcon.refresh:after {
  content: "\e66a";
}
.rcon.return:after {
  content: "\e66b";
}
.rcon.rotate:after {
  content: "\e66c";
}
.rcon.rss:after {
  content: "\e66d";
}
.rcon.satellite:after {
  content: "\e66e";
}
.rcon.search:after {
  content: "\e66f";
}
.rcon.share:after {
  content: "\e670";
}
.rcon.sharp-left:after {
  content: "\e671";
}
.rcon.sharp-right:after {
  content: "\e672";
}
.rcon.sprocket:after {
  content: "\e673";
}
.rcon.stackoverflow:after {
  content: "\e674";
}
.rcon.star:after {
  content: "\e675";
}
.rcon.street:after {
  content: "\e676";
}
.rcon.text-align-bottom-center:after {
  content: "\e677";
}
.rcon.text-align-bottom-left:after {
  content: "\e678";
}
.rcon.text-align-bottom-right:after {
  content: "\e679";
}
.rcon.text-align-center-center:after {
  content: "\e67a";
}
.rcon.text-align-center-left:after {
  content: "\e67b";
}
.rcon.text-align-center-right:after {
  content: "\e67c";
}
.rcon.text-align-overlap:after {
  content: "\e67d";
}
.rcon.text-align-top-center:after {
  content: "\e67e";
}
.rcon.text-align-top-left:after {
  content: "\e67f";
}
.rcon.text-align-top-right:after {
  content: "\e680";
}
.rcon.text-halo:after {
  content: "\e6a3";
}
.rcon.text-halo-width:after {
  content: "\e681";
}
.rcon.text-ignore-placement:after {
  content: "\e682";
}
.rcon.text-justify-center:after {
  content: "\e683";
}
.rcon.text-justify-left:after {
  content: "\e684";
}
.rcon.text-justify-right:after {
  content: "\e685";
}
.rcon.text-letter-spacing:after {
  content: "\e686";
}
.rcon.text-line-height:after {
  content: "\e687";
}
.rcon.text-max-width:after {
  content: "\e688";
}
.rcon.text-padding:after {
  content: "\e689";
}
.rcon.text-rotate:after {
  content: "\e68a";
}
.rcon.text-size:after {
  content: "\e68b";
}
.rcon.tilemill:after {
  content: "\e68c";
}
.rcon.time:after {
  content: "\e68d";
}
.rcon.tooltip:after {
  content: "\e68e";
}
.rcon.transform-lowercase:after {
  content: "\e68f";
}
.rcon.transform-uppercase:after {
  content: "\e690";
}
.rcon.trash:after {
  content: "\e691";
}
.rcon.position:after {
  content: "\e6a4";
}
.rcon.turn-left:after {
  content: "\e692";
}
.rcon.turn-right:after {
  content: "\e693";
}
.rcon.twitter:after {
  content: "\e694";
}
.rcon.tx:after {
  content: "\e695";
}
.rcon.u-d-arrow:after {
  content: "\e696";
}
.rcon.u-turn:after {
  content: "\e697";
}
.rcon.undo:after {
  content: "\e698";
}
.rcon.up:after {
  content: "\e699";
}
.rcon.video:after {
  content: "\e69a";
}
.rcon.water:after {
  content: "\e69b";
}
.rcon.quotes:after {
  content: "\e6a0";
}
.rcon.number:after {
  content: "\e6a1";
}
.rcon.line:after {
  content: "\e6ab";
}
.rcon.fill:after {
  content: "\e6ac";
}
.rcon.map:after {
  content: "\e900";
}

.rcon.studio:after {
  content: "\e901";
}

/* tablet */
.device.device-tablet-v {
  border-radius: 20px;
  border-right: 20px solid #374f59;
  border-left: 20px solid #374f59;
  border-top: 60px solid #374f59;
  border-bottom: 60px solid #374f59;
}

.device.device-tablet-v .device-content {
  max-height: 500px;
}

.device-content-img
{
  width: 100%;
}

.device.device-tablet-v:before,
.device.device-tablet-v:after {
  content: '';
  z-index: 10;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -35px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.25);
}

.device.device-tablet-v:after {
  top: auto;
  bottom: 15px;
  height: 30px;
  width: 30px;
}

/* tablet h */
.device.device-tablet-h {
  border-radius: 20px;
  border-right: 40px solid #374f59;
  border-left: 60px solid #374f59;
  border-top: 20px solid #374f59;
  border-bottom: 20px solid #374f59;
}

.device.device-tablet-h .device-content {
  max-height: 800px;
}

.device.device-tablet-h:before,
.device.device-tablet-h:after {
  content: '';
  z-index: 10;
  display: block;
  position: absolute;
  margin: auto;
  top: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.25);
}

.device.device-tablet-h:after {
  top: 50%;
  left: -45px;
  height: 30px;
  width: 30px;
}

.device.device-tablet-h:before  {
   top: 50%;
    right: -23px;
}

.prose-big, .prose-big h3, .prose-big h4, .prose-big h5, .prose-big h6 {
    font-size: 18px;
    line-height: 30px;
}