<div class="pagina-bgbranco">
    <div class="pagina-imprensa">
        <h2>Assessoria de <strong>Imprensa</strong></h2>
        <p><span>Entre em contato com nossa assessoria e fale com o advogado mais apropriado para o assunto de seu interesse.</span></p>
        <ul>
            <li><p><strong>Assessoria de Imprensa</strong> – Cassel Ruzzarin Santos Rodrigues Advogados</p></li>
            <li><p><strong>Endereço:</strong> SAUS, Quadra 5, Bloco N, Salas 212 a 217 – Ed. OAB, Asa Sul, CEP 70070-913</p></li>
            <li><p><strong>Tel.:</strong> (61) 3223-0552</p></li>
            <li><p><strong>E-mail:</strong> <a href="mailto:imprensa@servidor.adv.br">imprensa@servidor.adv.br</a></p></li>
        </ul>
    </div>
</div>