<section id="cabecalho-paginas">
    <div class="box-itens-escritorio">
        <h2>JULGADOS COMENTADOS</h2>
    </div>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12 col-xs-12 pagina-bgbranco divResultado">
            <div id="buscaavancada" class="row" style="display:none">
                <div class="content">
                    <div class="row">
                        <div class="col-md-5 col-xs-12 form-group">
                            <label>Por assunto</label>
                            <div class="searchform">
                                <input type="text" class="busca searching" value="Pesquisar..." name="s" id="searchblog" onblur="if (this.value == '') {this.value = 'Pesquisar...';}" onfocus="if (this.value == 'Pesquisar...') {this.value = '';}">
                                <button class="search btnBusca" id="btnsearch"><img src="app/themes/img/search.png"></button>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12 form-group" ng-controller="CamposdeInteresseCtrl">
                            <label>Por campo de interesse</label>
                            <select id="drpCampodeInteresse" class="form-control">
                                <option ng-repeat="campo in lista" value="{{campo.id}}">{{campo.title}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-hide="hasInformation">
                    <div class="alert alert-warning">Ops, não encontramos nenhuma informação com os critérios de busca que você solicitou, por favor tente novamente.</div>
                </div>
            </div>
            <div class="text-align loading" ng-show="loading"><img src="/app/themes/img/facebook.gif" style="position: relative;top: 10px;margin-right: 10px;" /></div>
            <ul>
                <li class="informes" ng-repeat="n in lista">
                    <h1 class="title"><a href="{{n.url}}">{{n.title}}</a></h1>
                    <img src="/app/img-site/icon-calendar.png" /> <span class="date" ng-bind="n.publicada | date:'dd/MM/yyyy'"></span>&nbsp;|&nbsp;<span class="icone-interesse" ng-repeat="campo in n.camposdeInteresse"><a href="/#/informes/interesse/{{campo.id}}" ng-style="{'background-color' : campo.cor}" style="padding:5px 10px;color:white;font-weight:bold;font-size:11px;border-radius:1px;"><img ng-src="{{campo.iconeBranco}}" class="interesses-iconebranco" />&nbsp;{{campo.title}}</a>&nbsp;</span>
                    <div class="breveDescricao"><p ng-bind-html="n.breveDescricao"></p></div>
                    <br />
                    <a href="{{n.url}}" class="botao-leiamais">Leia mais</a>
                </li>
            </ul>
        </div>
        <!--<div class="col-md-3 col-xs-12 divBuscaAvancada">
            <div class="searchform" style="text-align: center;">
                <button class="busca busca-avancada" onclick="javascript:mostraresconderBusca()">BUSCA AVANÇADA</button>
                <button class="search btnBusca btn-avancada" id="btnsearch" onclick="javascript:mostraresconderBusca()">
                    <img src="app/themes/img/search.png">
                </button>
            </div>
        </div>-->
    </div>
</div>
<style>
    .busca-avancada {
        background-color: #444 !important;
        opacity: 0.9;
        color: #eee !important;
        width: 100%;
        border-radius: 4px;
        float: left;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        font-size: 14px;
        padding: 17px 10px !important;
        font-family: 'Open Sans', sans-serif;
        outline: none;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        height: 50px;
    }

    .btn-avancada {
        height: 50px;
    }
</style>
<script>
    function mostraresconderBusca() {
        if ($("#buscaavancada").css('display') == 'block')
            $("#buscaavancada").css('display', 'none');
        else
            $("#buscaavancada").css('display', 'block');
    }

    $("input.busca").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            Buscar();
        }
    });

    $("#btnsearch").click(function () {
        window.location = "/#/julgadoscomentados/q/" + $("#searchblog").val();
    });

    $("#drpCampodeInteresse").change(function () {
        window.location = "/#/julgadoscomentados/interesse/" + $("#drpCampodeInteresse").val();
    });

</script>
