
<div class="row">
    <div class="col-md-8 col-xs-12 pagina-bgbranco">
        <div class="text-align" ng-show="loading"><img src="/app/themes/img/ajax-loader.gif" style="position: relative;top: 10px;margin-right: 10px;" />&nbsp;Carregando...</div>
        <ul>
            <li class="content-blog" ng-repeat="n in lista">
                <h1 class="title"><a href="{{'/#/noticia/' + n.id}}">{{n.titulo}}</a></h1>
                <span class="date" ng-bind="n.dataPublicacao | date:'dd/MM/yyyy'"></span>
                <br /><br />
                <p ng-bind-html="n.corpo"></p>
                <br />
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-xs-12 paddingLeft0">
        <div class="assessoria-imprensa">
            <h3>Assessoria de Comunicação</h3>
            <ul>
                <li><a href="/boletim.html" target="_self">Boletim</a></li>
                <li><a href="/#/imprensa" target="_self">Contato para Jornalistas</a></li>
                <li><a href="/#/noticias" target="_self">Notícias</a></li>
            </ul>
        </div>
        <div class="noticias-relacionadas">
            <h3>Leia mais notícias</h3>
            <ul>
                <li ng-repeat="n in itensRelacionados">
                    <p ng-bind="n.dataPublicacao | date:'dd/MM/yyyy'"></p>
                    <h1><a href="{{'/#/noticia/' + n.id}}" class="title">[...] {{n.title}} [...]</a></h1>
                </li>
            </ul>
        </div>
    </div>
</div>

