<section id="cabecalho-paginas">
    <div class="box-itens-escritorio">
        <h2>ONDE ESTAMOS</h2>
    </div>
</section>
<iframe width="100%" height="500px" frameborder="0" src="https://a.tiles.mapbox.com/v4/luisgustavo.005iiie4.html?access_token=pk.eyJ1IjoibHVpc2d1c3Rhdm8iLCJhIjoiY2lua2R4c2VrMHhwbHU2bHlqMjkyYmVieiJ9.CYsIC1UXVDqcNn8lSEwunQ"></iframe>
<div class="content">
    <div class="back-branco">
        <div class="info-escritorios">
            <ul>
                <li>
                    <h3>
                        BRASÍLIA
                    </h3>
                    <p>
                        SAUS, Quadra 5, Bloco N <br /> Salas 212 a 217 – Ed. OAB <br /> Asa Sul, Brasília-DF <br /> CEP 70070-913
                        <br /><br />(61) 3223-0552
                    </p>
                </li>
                <li>
                    <h3>BELO HORIZONTE</h3>
                    <p>
                        Rua Euclides da Cunha, 14, Prado <br /> Belo Horizonte - MG <br /> CEP 30411-170
                        <br /><br /> (31) 4501-1500
                    </p>
                </li>
                <li>
                    <h3>RIO DE JANEIRO</h3>
                    <p>
                        Av. Rio Branco, 277, Centro  <br /> Ed. São Borja - Sala 1.007 <br /> Rio de Janeiro-RJ <br /> CEP 20040-904
                        <br /><br /> (21) 3035-6500
                    </p>
                </li>
                <li class="ff">
                    <h3>SANTA MARIA</h3>
                    <p>
                        Rua Alberto Pasqualini, 111, Centro <br />Ed. Arquipélago - Sala 1.001 <br /> Santa Maria-RS <br /> CEP 97015-010
                        <br /><br /> (55) 3028-8300
                    </p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>