
<div class="back-branco">
    <h2 class="aspas"><span class="aspas-left">"</span>A defesa dos servidores públicos, do concurso à aposentadoria, depende deles.<span class="aspas-right"></span></h2>

    <ul id="og-grid" style="width: 80%;max-width:1010px; margin: 0 auto;">
        <li class="adv destaque" id="CASSEL">
            <a href="#" data-id="1">
                <img src="/app/themes/img/gr/adv1.jpg" alt="img01" />
                <p>CASSEL</p>
            </a>
        </li>
        <li class="adv destaque" id="RUZZARIN">
            <a href="#" data-id="2">
                <img src="/app/themes/img/gr/adv2.jpg" alt="img01" />
                <p>RUZZARIN</p>
            </a>
        </li>
        <li class="adv destaque" id="SANTOS">
            <a href="#" data-id="3">
                <img src="/app/themes/img/gr/adv3.jpg" alt="img01">
                <p>SANTOS</p>
            </a>
        </li>
        <li class="adv destaque" id="RODRIGUES">
            <a href="#" data-id="4">
                <img src="/app/themes/img/gr/adv4.jpg" alt="img01">
                <p>RODRIGUES</p>
            </a>
        </li>
        <li id="adv1" class="descricao desc1">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g1.jpg">
            </div>
            <div class="text">
                <h2>RUDI CASSEL</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:rudicassel@servidor.adv.br">Email</a></li>
                    <li><a class="bt-wp" target="_blank" href="http://www.direitodosconcursos.com.br/author/rudi/">Wordpress</a></li>
                    <li><a class="bt-facebook" target="_blank" href="https://www.facebook.com/rudi.cassel">Facebook</a></li>
                </ul>
                <p>Sócio-fundador. Graduou-se pela Universidade Federal de Santa Maria (RS). Desde o início da carreira, especializou-se em direito do servidor público e direito dos concursos públicos. Atuou na assessoria permanente ou ad hoc de entidades representativas de servidores e membros do Poder Executivo, do Judiciário e do Ministério Público, sindicatos e associações de docentes e servidores das instituições federais de ensino, entre outras entidades de classe. Ao longo da carreira, também foi coordenador jurídico do Sindjus-DF, Diretor da Caixa de Assistência dos Advogados do Distrito Federal e integrante da Comissão de Assuntos Constitucionais da OAB/DF. Recebeu a homenagem por mérito profissional em abril de 2014 pela Academia Brasileira de Ciências, Artes, História e Literatura, em parceria com o Instituto Biográfico do Brasil. Coordena a Equipe de Causas Coletivas.</p>
            </div>
            <div class="clear"></div>
        </li>
        <li class="descricao desc2">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g2.jpg">
            </div>
            <div class="text">
                <h2>JEAN P. RUZZARIN</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:ruzzarin@servidor.adv.br">Email</a></li>
                    <li><a class="bt-twitter" href="https://twitter.com/jeanruzzarin">Twitter</a></li>
                    <li><a class="bt-facebook" href="https://www.facebook.com/ruzzarin">Facebook</a></li>
                </ul>
                <p>Sócio-fundador. Graduou-se pela Universidade Federal de Santa Maria (RS). Desde o início da carreira, especializou-se em recursos para o STF e STJ. Em 2004, passou a advogar em Brasília, com dedicação ao direito administrativo, defendendo servidores públicos federais. Tem experiência em assessoria parlamentar, tendo colaborado com a Unidade de Assuntos Legislativos da Confederação Nacional da Indústria (CNI). De 2007 a 2011 coordenou a assessoria jurídica do sindicato que congrega os servidores do Poder Judiciário e do Ministério Público no Distrito Federal - Sindjus-DF. Foi membro da Comissão de Assuntos Constitucionais da OAB/DF. Coordena a Equipe do Contencioso.</p>
            </div>
            <div class="clear"></div>
        </li>


        <li class="descricao desc3">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g3.jpg">
            </div>
            <div class="text">
                <h2>MARCOS JOEL DOS SANTOS</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:mjsantos@servidor.adv.br">Email</a></li>
                    <li><a class="bt-facebook" href="https://www.facebook.com/advmarcosjoel">Facebook</a></li>
                </ul>
                <p>Sócio-fundador. Graduou-se pela Universidade Federal de Santa Maria (RS). Cursou as especializações de Direito Constitucional (2005) e Direito Processual Civil (2010) no Instituto Brasiliense de Direito Público – IDP. Passou a advogar em Brasília, em 2004, mantendo a dedicação ao Direito Administrativo e Processual Civil, defendendo servidores públicos federais. De 2007 a 2011 advogou no sindicato que congrega os servidores do Poder Judiciário e do Ministério Público no Distrito Federal – Sindjus-DF. Foi membro da Comissão de Direitos Sociais da OAB/DF (2006/2007). Coordena a Equipe de Causas Individuais.</p>
            </div>
            <div class="clear"></div>
        </li>
        <li class="descricao desc4">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g4.jpg">
            </div>
            <div class="text">
                <h2>ARACÉLI A. RODRIGUES</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:aracelirodrigues@servidor.adv.br">Email</a></li>
                    <li><a class="bt-wp" href="http://www.direitodosconcursos.com.br/author/aracelicer-adv-br/">Wordpress</a></li>
                </ul>
                <p>Sócia-fundadora. Graduou-se em direito pela Universidade Federal de Santa Maria, RS. Em 2004, passou a advogar no Rio de Janeiro e em 2007 defendeu servidores públicos em Macapá. A partir de 2007, integrou a assessoria jurídica do Sindicato dos Servidores do Poder Judiciário e do Ministério Público no Distrito Federal – Sindjus-DF. Integra a Equipe de Causas Coletivas.</p>
            </div>
            <div class="clear"></div>
        </li>
        <!-- Fim da 1a linha de advogados -->

        <li class="adv" id="KRATZ">
            <a href="#" data-id="5">
                <img src="/app/themes/img/gr/adv16.jpg" alt="img01">
                <p>KRATZ</p>
            </a>
        </li>
        <li class="adv" id="HILARIO">
            <a href="#" data-id="7">
                <img src="/app/themes/img/gr/adv7.jpg" alt="img01">
                <p>HILÁRIO</p>
            </a>
        </li>
        <li class="adv" id="ROVEDA">
            <a href="#" data-id="8">
                <img src="/app/themes/img/gr/adv8.jpg" alt="img01">
                <p>ROVEDA</p>
            </a>
        </li>
        <li class="adv" id="FERNANDES">
            <a href="#" data-id="11">
                <img src="/app/themes/img/gr/adv11.jpg" alt="img01">
                <p>FERNANDES</p>
            </a>
        </li>

        <li class="descricao desc5">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g16.jpg">
            </div>
            <div class="text">
                <h2>FERNANDA COELHO KRATZ</h2>
                <ul class="redes">
                    <li><a class="bt-email" target="_blank" href="mailto:fernandakratz@servidor.adv.br">Email</a></li>
                    <li><a class="bt-wp" target="_blank" href="http://www.direitodosconcursos.com.br/author/Fernanda%20Kratz/">Wordpress</a></li>
                    <li><a class="bt-facebook" target="_blank" href="https://www.facebook.com/fernanda.kratz">Facebook</a></li>
                </ul>
                <p>Graduada em Direito pelo Centro Universitário Franciscano (UNIFRA), de Santa Maria. É especialista em Direito Público pela Universidade do Sul de Santa Catarina – UNISUL. Fez cursos de extensão nas áreas do Direito Administrativo, Constitucional e em Licitações e Contratos Administrativos. Dedica-se ao Direito Público e, em especial, à defesa dos servidores públicos desde 2004, quando passou a advogar na cidade do Rio de Janeiro. Integra a Equipe de Causas Individuais.</p>
            </div>
            <div class="clear"></div>
        </li>


        <li class="descricao desc7">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g7.jpg">
            </div>
            <div class="text">
                <h2>DANIEL HILÁRIO</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:danielhilario@servidor.adv.br">Email</a></li>
                    <li><a class="bt-wp" href="http://www.direitodosconcursos.com.br/author/danielhilariocer-adv-br/">Wordpress</a></li>
                </ul>
                <p>Graduado pela Universidade Federal de Minas Gerais. Desde o início da carreira, trabalhou na área de Previdência Social. Advogou em direito previdenciário e administrativo, para trabalhadores da iniciativa privada e servidores públicos. Integra a Equipe de Causas Coletivas.</p>
            </div>
            <div class="clear"></div>
        </li>

        <li class="descricao desc8">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g8.jpg">
            </div>
            <div class="text">
                <h2>DANIELA ROVEDA</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:danielaroveda@servidor.adv.br">Email</a></li>
                    <li><a class="bt-wp" href="http://www.direitodosconcursos.com.br/author/danielacer-adv-br/">Wordpress</a></li>
                </ul>
                <p>Graduou-se pela UNIFRA- Centro Universitário Franciscano de Santa Maria. É pós-graduada em Direito Processual Civil pela Universidade do Sul de Santa Catarina-UNISUL. Dedicou-se ao Direito Público, especialmente ao Direito Tributário e Administrativo atuando, por seis anos, nessa área. Especializou-se na elaboração de recursos para o Supremo Tribunal Federal e para o Superior Tribunal de Justiça. Integra a Equipe do Contencioso.</p>
            </div>
            <div class="clear"></div>
        </li>


        <li class="descricao desc11">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g11.jpg">
            </div>
            <div class="text">
                <h2>PEDRO HENRIQUE FERNANDES RODRIGUES.</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:pedrorodrigues@servidor.adv.br">Email</a></li>
                </ul>
                <p>Graduado em Direito pelo Centro Universitário de Brasília – UniCEUB. Entre 2010 e 2012, fez estágio na antiga Secretaria de Direito Econômico do Ministério da Justiça. Entre 2012 e 2013 foi estagiário em gabinetes de ministros do Superior Tribunal de Justiça. Integra a Equipe do Contencioso.</p>
            </div>
            <div class="clear"></div>
        </li>

        <!-- Fim da 2a linha de advogados -->

        <li class="adv" id="BARBOSA">
            <a href="#" data-id="12">
                <img src="/app/themes/img/gr/adv12.jpg" alt="img01">
                <p>BARBOSA</p>
            </a>
        </li>
        <li class="adv" id="MAGALHAES">
            <a href="#" data-id="14">
                <img src="/app/themes/img/gr/adv14.jpg" alt="img01">
                <p>MAGALHAES</p>
            </a>
        </li>
        <li class="adv" id="BUENO">
            <a href="#" data-id="15">
                <img src="/app/themes/img/gr/adv15.jpg" alt="img01">
                <p>BUENO</p>
            </a>
        </li>

        <li class="descricao desc12">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g12.jpg">
            </div>
            <div class="text">
                <h2>ROBSON RODRIGUES BARBOSA</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:robsonbarbosa@servidor.adv.br">Email</a></li>
                </ul>
                <p>
                    Gradou-se pela UDF. Fez estágio no Sindjus-DF, com causas individuais de servidores. É mestrando em Direito Constitucional pelo IDP e Pós-Graduando em Filosofia e Teoria Geral do Direito pela PUC/MG. Integra a Equipe de Causas Coletivas.
                </p>

            </div>
            <div class="clear"></div>
        </li>

        <li class="descricao desc14">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g14.jpg">
            </div>
            <div class="text">
                <h2>CAMILA DOS SANTOS MAGALHAES</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:camilamagalhaes@servidor.adv.br">Email</a></li>
                </ul>
                <p>Graduada pela Universidade Federal de Minas Gerais. Fez estágio na Defensoria Pública de Minas Gerais e Câmara Cível do Tribunal de Justiça de Minas Gerais. Advogou na área de direito administrativo e direito sindical. Integra a Equipe de Causas Individuais.</p>
            </div>
            <div class="clear"></div>
        </li>

        <li class="descricao desc15">
            <a href="#" class="fechar">fechar</a>
            <div class="box-img">
                <img src="/app/themes/img/gr/adv-g15.jpg">
            </div>
            <div class="text">
                <h2>IGOR MENDES BUENO</h2>
                <ul class="redes">
                    <li><a class="bt-email" href="mailto:igorbueno@servidor.adv.br">Email</a></li>
                </ul>
                <p>Graduado em Ciências Jurídicas e Sociais pela Universidade Federal de Santa Maria (UFSM), onde desenvolve atividades de pesquisa e extensão, notadamente como assessor jurídico do Núcleo de Interação Jurídica Comunitária da UFSM (NIJuC). É membro da Comissão de Direitos Humanos da OAB, Subseção de Santa Maria. Atuou na área de Direito Previdenciário. Integra a Equipe de Causas Individuais.</p>
            </div>
            <div class="clear"></div>
        </li>
    </ul>

    <div class="clear"></div>

</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

<script>


    $(document).ready(function () {

        $("#og-grid .adv a").click(function () {
            var id = $(this).data("id");
            $('#og-grid .adv a').removeClass('ativo');
            $(this).addClass("ativo");
            $("#og-grid .descricao.ativo").removeClass("ativo").slideUp();
            $(".desc" + id).addClass("ativo").slideDown();
            return false;
        });

        $("#og-grid .descricao a.fechar").click(function () {
            $('#og-grid .adv a').removeClass('ativo');
            $(".descricao.ativo").removeClass("ativo").slideUp();
            return false;
        });

        var anchor = $(location).attr('hash').split('#')[2];

        if (anchor != "") {
            $("#og-grid li#" + anchor + " a").click();
        }

    });

    $("#logo").click(function () {
        window.location = "/#";
    });

</script>
