<section id="defesa">
    <div class="container">
        <h1>sempre na defesa do <span style="color: #891829">servidor público</span></h1>
        <p>
            Depois de mais de uma década advogando para agentes e servidores públicos, percebemos que eles necessitam de um escritório de advocacia que atue única e exclusivamente na defesa de seus interesses. Então estabelecemos a missão de
            <strong>advogar com todos os nossos talentos e recursos para defender agentes, servidores e candidatos a cargos públicos,</strong>
            cuidando apenas dos interesses destas pessoas e de suas entidades de representação.
        </p>
        <div>
            <ul>
                <li>
                    <img src="http://servidor.adv.br/img/ui/entidades_classe.svg" width="64px">
                    <h4>Entidades de classe</h4>
                    <p>
                        Podemos atuar tanto judicialmente, quanto nos órgãos de controle ou mesmo administrativamente defendendo os direitos da categoria
                        <br> <a href="/#/segmentos/entidades-de-classe">saiba mais &gt;</a>
                    </p>
                </li>
                <li>
                    <img src="http://servidor.adv.br/img/ui/candidato_cargo_publico.svg" width="64px">
                    <h4>Candidatos a cargos públicos</h4>
                    <p>
                        O candidato pode enfrentar problemas relacionados ao concurso público propriamente dito, à nomeação ou à posse e exercício
                        <br> <a href="/#/segmentos/candidatos-a-cargo-publico">saiba mais &gt;</a>
                    </p>
                </li>
                <li>
                    <img src="http://servidor.adv.br/img/ui/servidores_ativa.svg" width="64px">
                    <h4>Servidores ativos</h4>
                    <p>
                        Servidores em atividade possuem uma relação contínua com a administração, relativamente a Exercício e afastamento, Remuneração, ao desconto de Tributos, Saúde no trabalho e Disciplina.
                        <br> <a href="/#/segmentos/servidores-ativos">saiba mais &gt;</a>
                    </p>
                </li>
                <li>
                    <img src="http://servidor.adv.br/img/ui/aposentadoria.svg" width="64px">
                    <h4>Servidores aposentados</h4>
                    <p>
                        Depois de anos de atividade, a chegada de um servidor à aposentadoria deve ser respeitosa e respeitada. Caso não seja, iremos ampará-lo.
                        <br> <a href="/#/segmentos/servidores-inativos">saiba mais &gt;</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="exclusividade">
    <div class="container">
        <h1>atuando com <span style="color: #891828;">exclusividade...</span></h1>
        <ul>
            <li>
                <img src="http://servidor.adv.br/img/ui/ico-normativo.svg">
                <div>
                    Porque o complexo normativo que atinge os agentes e servidores públicos é muito amplo e disperso.
                </div>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/ico-regulamentacao.svg">
                <div>
                    Porque a regulamentação das matérias que os afeta é realizada por inúmeras autoridades administrativas, rotineira e intensamente.
                </div>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/ico-jurisprudencia.svg">
                <div>
                    Porque a jurisprudência dos Tribunais Superiores sobres estes temas altera-se com frequência.
                </div>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/ico-orgaoscontrole.svg">
                <div>
                    Porque os órgãos de controle e os Tribunais de Contas atuam fortemente em face dos agentes e servidores públicos.
                </div>
            </li>
            <li style="width: 90%">
                <img src="http://servidor.adv.br/img/ui/ico-assuntoconstitucional.svg">
                <div>
                    Porque os assuntos são quase todos de índole constitucional, o que exige constante monitoração de processos da Suprema Corte, ainda que de terceiros, pois são afetados pela repercussão geral.
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="escritorio">
    <div class="container">
        <h1 style="color: white">...De forma <span style="color: rgb(205, 118, 124); display: inline">abrangente</span></h1>
        <p>
            Como somos exclusivos, podemos ser abrangentes. Podemos <strong>defender agentes, servidores e candidatos a cargos públicos, do concurso à aposentadoria.</strong> Um cliente que hoje presta concurso terá uma longa jornada até se aposentar. A exclusividade garante que possamos atendê-lo com excelência por todo esse percurso.
        </p>
    </div>
</section>

<section id="cpoInteresse">
    <div class="content">
        <h1 style="color: #444">Segmentados pelos problemas <span style="color: #891828">do nosso cliente...</span></h1>
        <p>A exclusividade proporcionou-nos conhecer profundamente a atividade dos nossos clientes. Prestamos serviços segmentando nossa atuação <strong>pelos problemas do nosso cliente</strong> e não pelo ramo do direito. Nosso trabalho é encontrar a <strong>solução de problemas jurídicos para agentes, servidores e candidatos a cargos públicos</strong>. Problemas que os clientes sempre relacionam a um destes 9 campos de interesse:</p>

        <ul class="campos_interesse_listagem">
            <li>
                <img src="http://servidor.adv.br/img/ui/selecao_provimento.svg">
                <h4>Seleção e provimento</h4>
                <p>
                    concurso público, nomeação e posse
                    <br><a href="/#/camposdeinteresse/selecao-e-provimento">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/exercicio_afastamento.svg">
                <h4>Exercício e afastamento</h4>
                <p>
                    acumulação, substituição, remoção, licenças, recondução férias, jornada, desvio de função...
                    <br><a href="/#/camposdeinteresse/exercicio-e-afastamento">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/remuneracao.svg">
                <h4>Remuneração</h4>
                <p>
                    vencimento, provento, subsídio, gratificações, adicionais, indenizações, abonos...
                    <br><a href="/#/camposdeinteresse/remuneracao">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/tributos.svg">
                <h4>Tributos</h4>
                <p>
                    imposto de renda e contribuição previdenciária sobre remuneração de servidores
                    <br><a href="/#/camposdeinteresse/tributos">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/saude_seguranca_trabalho.svg">
                <h4>Saúde e segurança do trabalho</h4>
                <p>
                    acidente de serviço, insalubridade, periculosidade, penosidade, assédio moral
                    <br><a href="/#/camposdeinteresse/saude-e-seguranca-do-trabalho">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/disciplina_probidade_contas.svg">
                <h4>Disciplina, probidade e contas</h4>
                <p>
                    ética e disciplina no serviço público, sindicâncias, correições, improbidade, auditorias, tomada de contas
                    <br><a href="/#/camposdeinteresse/disciplina-probidade-e-contas">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/liberdade_sindical_associativa.svg">
                <h4>Liberdade sindical e associativa</h4>
                <p>
                    organização sindical e associativa, greve,  negociação coletiva
                    <br><a href="/#/camposdeinteresse/liberdade-sindical-e-associativa">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/defesa_prerrogativas.svg">
                <h4>Defesa de prerrogativas</h4>
                <p>
                    defesa das atribuições dos cargos públicos e das competências dos órgãos públicos
                    <br><a href="/#/camposdeinteresse/defesa-de-prerrogativas">saiba mais &gt;</a>
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/seguridade_social.svg">
                <h4>Seguridade social</h4>
                <p>
                    aposentadoria, aposentadoria especial, pensão e assistência à saúde do servidor e sua família
                    <br><a href="/#/camposdeinteresse/seguridade-social">saiba mais &gt;</a>
                </p>
            </li>
        </ul>
    </div>
</section>

<section id="valores">
    <div class="content">
        <h1>...orientados pelos <span style="color: #891828;">nossos valores</span></h1>
        <p style="font-size: 16px">
            Elegemos alguns valores a orientar o escritório na busca da solução de problemas jurídicos para agentes, servidores e candidatos a cargos públicos.
        </p>
        <ul>
            <li>
                <img src="http://servidor.adv.br/img/ui/integridade.svg">
                <h4>Integridade</h4>
                <p>
                    A integridade é menos uma virtude do que um complexo de virtudes, as virtudes trabalhando juntas para formar um caráter coerente, uma personalidade identificável e confiável. Por aqui cultivamos as atitudes francas, leais, corajosas e prudentes.
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/sustentabilidade.svg">
                <h4>Sustentabilidade</h4>
                <p>
                    A sustentabilidade significa-nos a responsabilidade social. Queremos realizar nosso destino, mas sem degradar as pessoas que dele participam, sem consumir irresponsavelmente os recursos dos clientes, do Poder Judiciário e da comunidade em que nos inserimos.
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/criatividade.svg">
                <h4>Criatividade</h4>
                <p>
                    A criatividade exige-nos mais que soluções jurídicas ortodoxas, as soluções do senso-comum. Embora possamos usar soluções tradicionais, nunca as adotamos só porque estão à disposição. Se adotamos a tradição é porque a nossa criatividade assim recomendou.
                </p>
            </li>
            <li>
                <img src="http://servidor.adv.br/img/ui/agilidade.svg">
                <h4>Agilidade</h4>
                <p>
                    Os tempos atuais não admitem advocacia que não seja ágil. E assim é por aqui, pois vamos muito além da pontualidade. A agilidade nos recomenda, por exemplo, a entrega antes do prazo, pois assim nos prevenimos de erros.
                </p>
            </li>
        </ul>

        <p style="font-size: 16px; width: 100%; float: left;">
            Esses valores pretendem ser a expressão íntima de nossa identidade e de nossa singularidade. Esses valores são, portanto, o que somos. Certamente cada um de nós possui muitos valores pessoais, mas aqueles que definimos para o escritório são os valores essenciais mínimos sobre os quais todos concordamos e, portanto, nos comprometemos a seguir.
        </p>

    </div>
</section>

<section id="fotos">
    <div class="content">
        <div style="margin-bottom: 50px">
            <img class="img-responsive" src="http://servidor.adv.br/img/ui/sala_advogados_bsb.jpg" style="text-align: center; display: inline-block;">
            <div align="center">Escritório em Brasília - DF</div>
        </div>
        <div>
            <img class="img-responsive" src="http://servidor.adv.br/img/ui/escritorio_santa_maria.jpg" style="text-align: center; display: inline-block;">
            <div align="center">Escritório em Santa Maria - RS</div>
        </div>
    </div>
</section>
