<section id="cabecalho-paginas" class="informes-cabecalho">
    <div class="box-itens-escritorio">
        <ul class="list-inline">
            <li ng-class="getMenuTipoInformeStyle('noticias')">
                <a href="/informes/tipo/noticias">
                    <img src="/app/img-site/icone-noticias.png" />
                    <div>NOTÍCIAS</div>
                </a>
            </li>
            <li ng-class="getMenuTipoInformeStyle('atuacoes')">
                <a href="/informes/tipo/atuacoes">
                    <img src="/app/img-site/icone-atuacoes.png" />
                    <div>ATUAÇÕES</div>
                </a>
            </li>
            <li ng-class="getMenuTipoInformeStyle('namidia')">
                <a href="/informes/tipo/namidia">
                    <img src="/app/img-site/icone-namidia.png" />
                    <div>NA MÍDIA</div>
                </a>
            </li>
            <!--<li>
                <a href="javascript:void(0)" onclick="javascript:mostraresconderBusca()">
                    <img src="/app/img-site/icone-busca.png" />
                    <div>BUSCA AVANÇADA</div>
                </a>
            </li>-->
        </ul>
    </div>
</section>
<section id="buscaavancada" style="display:none">
    <div class="content">
        <div class="row">
            <div class="col-md-4 col-xs-12 form-group">
                <label>Por tipo de conteúdo</label>
                <select id="drpTipoConteudo" class="form-control">
                    <option value="todos">Todos</option>
                    <option value="atuacoes">Atuações</option>
                    <option value="namidia">Na Mídia</option>
                    <option value="noticias">Notícias</option>
                    <option value="vitorias">Vitórias</option>
                </select>
            </div>
            <div class="col-md-4 col-xs-12 form-group">
                <label>Por assunto</label>
                <div class="searchform">
                    <input type="text" class="busca searching" value="Pesquisar..." name="s" id="searchblog" onblur="if (this.value == '') {this.value = 'Pesquisar...';}" onfocus="if (this.value == 'Pesquisar...') {this.value = '';}">
                    <button class="search btnBusca" id="btnsearch"><img src="app/themes/img/search.png"></button>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 form-group" ng-controller="CamposdeInteresseCtrl">
                <label>Por campo de interesse</label>
                <select id="drpCampodeInteresse" class="form-control">
                    <option value="0">Selecione...</option>
                    <option ng-repeat="campo in lista" value="{{campo.id}}">{{campo.title}}</option>
                </select>
            </div>
        </div>
    </div>
</section>
<div class="content">
    <div class="row">

        <div class="col-md-12" ng-show="isBuscaFeita">
            <span style="font-style:italic">Resultados encontrados para "<label>{{buscafeita}}</label>"</span>
        </div>
        <div class="col-md-12" ng-hide="hasInformation">
            <div class="alert alert-warning">
                Ops, não encontramos nenhuma informação com os critérios de busca que você solicitou, por favor tente novamente.<br /><br />
                <a href="javascript:void(0)" onclick="history.go(-1);"><strong>Voltar à busca</strong></a>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 pagina-bgbranco">
            <div class="text-align loading" ng-show="loading"><img src="/app/themes/img/facebook.gif" style="position: relative;top: 10px;margin-right: 10px;" /></div>
            <ul id="ULContent">
                <li class="informes" ng-repeat="n in lista">
                    <h1 class="title"><a href="/{{n.tipoUrl}}/{{n.url}}">{{n.title}}</a></h1>
                    <img src="/app/img-site/icon-calendar.png" /> <span class="date" ng-bind="n.dataPublicacao | date:'dd/MM/yyyy'"></span>&nbsp;|&nbsp;<span class="icone-interesse" ng-repeat="campo in n.camposdeInteresse"><a href="/informes/interesse/{{campo.id}}" ng-style="{'background-color': campo.cor}" style="padding:5px 10px;color:white;font-weight:bold;font-size:11px;border-radius:1px;"><img ng-src="{{campo.iconeBranco}}" class="interesses-iconebranco" />&nbsp;{{campo.title}}</a>&nbsp;|&nbsp;</span>
                    <a href="/informes/tipo/{{n.tipoUrl}}" class="informe-tipo"><span ng-bind="n.tipo"></span></a>
                    <div class="breveDescricao"><p><span ng-bind-html="n.breveDescricao + '...'"></span>...</p></div>
                    <br />
                    <a href="/{{n.tipoUrl}}/{{n.url}}" class="botao-leiamais">Leia mais</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="paginacaoHome" style="text-align:left;margin:0;margin-top:20px" ng-show="pagination">
        <ul class="paginacao">
            <li ng-show="previousview">
                <a onclick="goBack()" aria-label="Previous" style="float:none">
                    <span aria-hidden="true">{{namePrevious}}</span>
                </a>
            </li>
            <li ng-show="nextview">
                <a ng-href="{{nextpage}}" aria-label="Next" style="float:none">
                    <span aria-hidden="true">{{nameNext}}</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>

    function goBack() {
        window.history.back()
    }

    function mostraresconderBusca() {
        if ($("#buscaavancada").css('display') == 'block')
            $("#buscaavancada").css('display', 'none');
        else
            $("#buscaavancada").css('display', 'block');
    }

    $("input.busca").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            Buscar();
        }
    });


    $("#btnsearch").click(function () {
        Buscar();
    });

    $("#drpCampodeInteresse").change(function () {
        Buscar();
    });

    function Buscar()
    {
        var palavrachave = encodeURIComponent($("#searchblog").val());
        window.location = "/#/informes/busca/" + $("#drpTipoConteudo").val().toLowerCase() + "/" + $("#drpCampodeInteresse").val() + "/" + palavrachave;
    }

</script>

<style>



</style>
