body {
    font-size: 14px;
    color: #111111;
    font-family: 'Avenir Next LT Pro Regular';
    width: 100%;
    margin: 0 auto;
    background: #fafbfa;
}

#main-top {
    background-color: #F9FBFA;
    padding-bottom: 90px;
    width: 100%;
}

header .nav-blog {
    background-color: #D92429;
    padding: 8px 60px;
    width: 100%;
    height: 45px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header #nav {
    width: 87%;
    padding: 0 60px;
}

#destaque aside {
    float: left;
    width: 33.2%;
    padding: 0 15px;
    background-color: #D92429;
    margin-right: -1px;
    margin-bottom: -2px;
}

    #destaque aside li {
        padding: 25px 0;
        text-align: center;
        border-bottom: 1px solid #C21C20;
        border-top: 1px solid #DD2C3B;
    }

#destaque a, #destaque a:link, #destaque a:visited, #destaque a:hover, #destaque a p {
    text-decoration: none;
}

.pagina-bgbranco {
    background-color: white;
    padding: 20px 40px;
    text-align: left;
}

.noticias-pagina-bgbranco h1 a.title {
    font-size: 28px;
    text-transform: uppercase;
    margin: 50px 0 20px 0;
    color: #111111;
    line-height: 120%;
}

.noticias-pagina-bgbranco .data {
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    margin: 10px 0px;
}

.noticias-pagina-bgbranco li {
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px #EFEFEF solid;
}

.paddingLeft0 {
    padding-left: 0px;
}

.assessoria-imprensa {
    background: #cfd6d7;
    padding: 50px 40px;
    text-align: left;
}

    .assessoria-imprensa h3 {
        font-size: 20px;
        font-family: 'Avenir LT Std 95 Black';
        text-transform: uppercase;
        margin-bottom: 28px;
        padding-bottom: 18px;
        color: #ffffff;
        line-height: 25px;
        border-bottom: 5px solid #ffffff;
    }

    .assessoria-imprensa ul li a {
        font-family: 'Avenir Next LT Pro Demi';
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
    }

.noticias-relacionadas {
    text-align: left;
    margin-top: 50px;
    padding: 0 20px 0 20px;
}

    .noticias-relacionadas h3 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 28px;
        padding-bottom: 18px;
        line-height: 25px;
        color: #cfd6d7;
        border-bottom: 5px solid #cfd6d7;
        font-family: 'Avenir Next LT Pro Regular';
    }

    .noticias-relacionadas ul li {
        margin-bottom: 35px;
    }

        .noticias-relacionadas ul li a {
            text-transform: uppercase;
            color: #111111;
            line-height: 20px;
            font-family: 'Avenir Next LT Pro Demi';
            font-size: 16px;
        }

        .noticias-relacionadas ul li p {
            font-size: 10px;
            font-family: 'Avenir Next LT Pro Demi';
            margin-bottom: 10px;
        }

.pagina-imprensa {
    margin: 60px 2% 240px;
}

    .pagina-imprensa h2 {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-family: 'Avenir Next LT Pro Ultra Light Condensed';
        font-style: italic;
    }

        .pagina-imprensa h2 strong {
            color: #d60031;
        }

    .pagina-imprensa ul li {
        margin-bottom: 5px;
        line-height: 18px;
    }

        .pagina-imprensa ul li p {
            font-size: 12px;
            text-transform: uppercase;
        }

    .pagina-imprensa p span {
        margin-bottom: 25px;
        display: block;
        font-family: 'Avenir LT Std 55 Roman';
    }

    .pagina-imprensa ul li p strong {
        color: #d60031;
    }

.interesses h2 {
    font-style: normal;
    text-align: center;
    margin-bottom: 1.6rem;
    font-family: 'Avenir Next LT Pro Ultra Light Condensed';
    font-size: 35px;
    text-transform: uppercase;
}

    .interesses h2 span {
        color: #d60031;
    }

.interesses-descricao {
    font-family: 'Avenir LT Std 55 Roman';
    font-size: 1.075rem;
    line-height: 1.85rem;
    color: #555;
}

#og-grid li.descricao .ativo {
    font-size: 0.739rem;
    text-align: left;
}


#og-grid li.descricao {
    width: 100% !important;
}

    #og-grid li.descricao .text p {
        line-height: 140%;
        text-align: left;
        font-size: 100%;
    }

    #og-grid li.descricao.desc1 {
        min-height: 375px;
        position: relative;
        float: left;
    }

#og-grid li.adv .ativo p {
    display: block;
    height: 131px !important;
}

.info-escritorios p {
    font-size: .875rem !important;
    color: #555 !important;
}


@media screen and (max-width: 480px) {

    .searchform {
        margin-right: 30px;
    }

    .divBuscaAvancada
    {
        position:absolute;
    }

    .divResultado
    {
        position: relative;
        margin-top: 80px;
    }

}
